@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


h1, h2, h3, h4, h5, h6{
    font-family: 'Archivo Black', sans-serif;
}
h1{
  font-size: 5em !important;
}

body{
  color : #666666;
  background-color: #F0F2F5;
  font-family: 'Noto Sans JP', sans-serif;
}

.jumbo{
  margin-top: 5em;
  margin-bottom: 5em;
}

.radius1{
  border-radius: 1em;
}

.select{
  margin-top: 5em;
  margin-bottom: 5em;
}

.dark{
  background-color: #343A40;
  padding-top: 6em;
  padding-bottom: 6em;
  margin-top: 10em;
  border-radius: 2em;
}
.red:hover{
  color: #cf1322;
}
.red:focus-within{
  color: #cf1322 !important;
  border-color: #cf1322 !important;
}

.yellow:hover{
  color: #ef9115;
}
.yellow:focus-within{
  color: #ef9115 !important;
  border-color: #ef9115 !important;
}

.green:hover{
  color: #3f8600;
}
.green:focus-within{
  color: #3f8600 !important;
  border-color: #3f8600 !important;
}
